In [ ]:
from google.colab import drive

In [ ]:
drive.mount("/content/drive/")

Mounted at /content/drive/

In [ ]:
!unzip '/content/drive/MyDrive/2017neiJan_facility_process_byregions.zip'

Archive:  /content/drive/MyDrive/2017neiJan_facility_process_byregions.zip
  inflating: 2017 NEI Process Report Data Fields and Definitions.pdf
  inflating: point_12345.csv
  inflating: point_678910.csv
  inflating: point_unknown.csv

In [ ]:
import pandas as pd

The .zip file containing the CSV files for our project contain three CSVs in total. In order to combine them, we have to load them individually.

The processPiece function below has the simple goal of:

Renaming the columns to titles that are more readable
Grabbing only the top 10% of emissions in the nation for each CSV (based on total emissions)

In [ ]:
def processPiece(frame):
  neededColumns = ['city','state','total emissions','emissions uom','pollutant code','pollutant desc','pollutant type(s)','company name','site name','site longitude','site latitude']
  piece = frame[neededColumns]
  columnList = list(piece.columns)
  piece.columns = [c.replace(" ","")for c in columnList]
  piece = piece.sort_values(by=['totalemissions'],ascending=[False])
  valueCounts = piece['state'].value_counts().rename_axis('unique_values').reset_index(name="counts")
  valueCounts.columns = ["uniquevalues","counts"]
  valueCounts['counts'] = [int(v*0.1) for v in valueCounts['counts']]

  piece['state'] = piece['state'].fillna('None')
  spliceFrame=pd.DataFrame(columns=[n.replace(" ","") for n in neededColumns])


  for row in valueCounts.itertuples():
    spliceFrame = pd.concat([spliceFrame,piece[piece['state'].str.contains(row.uniquevalues)].head(int(row.counts))],axis=0)

  spliceFrame.columns = ['city','state','totalemissions','emissionsuom','pollutantcode','pollutantdesc','pollutanttypes','companyname','sitename','sitelongitude','sitelatitude']
  return spliceFrame

In [ ]:
firstFrame = pd.read_csv("point_12345.csv")

<ipython-input-6-a20aff8e5c57>:1: DtypeWarning: Columns (3,8,9,10,19,26,28,30,31,36,37,38,39,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  firstFrame = pd.read_csv("point_12345.csv")

In [ ]:
firstFrame

,epa region code,state,fips state code,tribal name,fips code,county,eis facility id,program system code,agency facility id,tri facility id,...,emission factor,ef numerator uom,ef denominator uom,ef text,calc method code,calculation method,emission comment,source data set,data tagged,data set
0,4,GA,13.0,NaN,13273,Terrell,2657511,GADNR,27300022,31742CRGLL715NO,...,NaN,NaN,NaN,NaN,5,USEPA Speciation Profile,2017GADNR submitted PM25-PRI of .02 TON times ...,2017NEI_June2020_PT,0,2017NEI
1,4,GA,13.0,NaN,13273,Terrell,2657511,GADNR,27300022,31742CRGLL715NO,...,NaN,NaN,NaN,NaN,5,USEPA Speciation Profile,2017GADNR submitted PM25-PRI of .02 TON times ...,2017NEI_June2020_PT,0,2017NEI
2,4,GA,13.0,NaN,13273,Terrell,2657511,GADNR,27300022,31742CRGLL715NO,...,NaN,NaN,NaN,NaN,5,USEPA Speciation Profile,2017GADNR submitted PM25-PRI of .02 TON times ...,2017NEI_June2020_PT,0,2017NEI
3,4,GA,13.0,NaN,13273,Terrell,2657511,GADNR,27300022,31742CRGLL715NO,...,NaN,NaN,NaN,NaN,5,USEPA Speciation Profile,PM-CON was determined using data speciated fro...,2017NEI_June2020_PT,0,2017NEI
4,4,GA,13.0,NaN,13273,Terrell,2657511,GADNR,27300022,31742CRGLL715NO,...,NaN,NaN,NaN,NaN,5,USEPA Speciation Profile,PM10-FIL was speciated from agency provided da...,2017NEI_June2020_PT,0,2017NEI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4016617,2,PR,72.0,NaN,72057,Guayama,7128611,PREQB,EQB10,00654NQSTNROAD3,...,NaN,NaN,NaN,NaN,3,Material Balance,2017 facility-reported TRI emissions,2017NEI_June2020_PT,0,2017NEI
4016618,2,PR,72.0,NaN,72057,Guayama,7128611,PREQB,EQB10,00654NQSTNROAD3,...,NaN,NaN,NaN,NaN,3,Material Balance,2017 facility-reported TRI emissions,2017NEI_June2020_PT,0,2017NEI
4016619,2,PR,72.0,NaN,72057,Guayama,7128611,PREQB,EQB10,00654NQSTNROAD3,...,NaN,NaN,NaN,NaN,3,Material Balance,2017 facility-reported TRI emissions,2017NEI_June2020_PT,0,2017NEI
4016620,2,PR,72.0,NaN,72057,Guayama,7128611,PREQB,EQB10,00654NQSTNROAD3,...,NaN,NaN,NaN,NaN,3,Material Balance,2017 facility-reported TRI emissions,2017NEI_June2020_PT,0,2017NEI
4016621,2,PR,72.0,NaN,72057,Guayama,7128611,PREQB,EQB10,00654NQSTNROAD3,...,NaN,NaN,NaN,NaN,3,Material Balance,2017 facility-reported TRI emissions,2017NEI_June2020_PT,0,2017NEI

In [ ]:
firstPiece = processPiece(firstFrame)

In [ ]:
secondFrame = pd.read_csv("point_678910.csv")

In [ ]:
secondFrame

,region,state,stfips,tribal_name,fips,county,eis_facility_id,program_system_code,agency_facility_id,tri_facility_id,...,emission_factor,ef_numerator_uom,ef_denominator_uom,ef_text,calc_method_code,calculation_method,emission_comment,source_data_set,data_tagged,data_set
0,7,KS,20.0,NaN,20095,Kingman,10679311,KSDOH,48.0,NaN,...,0.000002,LB,HP-HR,NaN,29,S/L/T Emis,NaN,2017NEI_June202,0,2017NEI
1,7,KS,20.0,NaN,20095,Kingman,10679311,KSDOH,48.0,NaN,...,0.000044,LB,HP-HR,NaN,29,S/L/T Emis,NaN,2017NEI_June202,0,2017NEI
2,7,KS,20.0,NaN,20095,Kingman,10679311,KSDOH,48.0,NaN,...,NaN,NaN,NaN,NaN,5,USEPA Spec,Emission multiplication factor of .0002034 app...,2017NEI_June202,0,2017NEI
3,7,KS,20.0,NaN,20095,Kingman,10679311,KSDOH,48.0,NaN,...,0.000009,LB,HP-HR,NaN,29,S/L/T Emis,NaN,2017NEI_June202,0,2017NEI
4,7,KS,20.0,NaN,20095,Kingman,10679311,KSDOH,48.0,NaN,...,NaN,NaN,NaN,NaN,5,USEPA Spec,Emission multiplication factor of .0000115254 ...,2017NEI_June202,0,2017NEI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4186250,6,TX,48.0,NaN,48439,Tarrant,5798411,TXCEQ,3.0,NaN,...,NaN,NaN,NaN,NaN,3,Material B,NaN,2017NEI_June202,0,2017NEI
4186251,6,TX,48.0,NaN,48439,Tarrant,5798411,TXCEQ,3.0,NaN,...,NaN,NaN,NaN,NaN,3,Material B,NaN,2017NEI_June202,0,2017NEI
4186252,6,TX,48.0,NaN,48439,Tarrant,5798411,TXCEQ,3.0,NaN,...,NaN,NaN,NaN,NaN,3,Material B,NaN,2017NEI_June202,0,2017NEI
4186253,6,TX,48.0,NaN,48439,Tarrant,5798411,TXCEQ,3.0,NaN,...,NaN,NaN,NaN,NaN,3,Material B,NaN,2017NEI_June202,0,2017NEI
4186254,6,TX,48.0,NaN,48439,Tarrant,5798411,TXCEQ,3.0,NaN,...,NaN,NaN,NaN,NaN,3,Material B,NaN,2017NEI_June202,0,2017NEI

In [ ]:
secondFrame.columns

Index(['region', 'state', 'stfips', 'tribal_name', 'fips', 'county',
       'eis_facility_id', 'program_system_code', 'agency_facility_id',
       'tri_facility_id', 'company_name', 'site_name', 'naics_code',
       'naics_description', 'facility_source_type', 'site_latitude',
       'site_longitude', 'address', 'city', 'zip_code', 'postal_abbreviation',
       'eis_unit_id', 'agency_unit_id', 'unit_type', 'unit_description',
       'design_capacity', 'design_capacity_uom', 'eis_process_id',
       'agency_process_id', 'scc', 'reg_codes', 'reg_code_description',
       'process_description', 'reporting_period', 'emissions_operating_type',
       'calculation_parameter_value', 'calculation_parameter_uom',
       'calculation_material', 'calculation_parameter_type',
       'calc_data_source', 'calc_data_year', 'pollutant_code',
       'pollutant_desc', 'pollutant_type', 'total_emissions', 'emissions_uom',
       'emission_factor', 'ef_numerator_uom', 'ef_denominator_uom', 'ef_text',
       'calc_method_code', 'calculation_method', 'emission_comment',
       'source_data_set', 'data_tagged', 'data_set'],
      dtype='object')

This is the same function as processPiece. However, some columns are named differently in the second and third CSV files and therefore have to be handled separately.

In [ ]:
def processSecondPiece(frame):
  neededColumns = ['city','state','total_emissions','emissions_uom','pollutant_code','pollutant_desc','pollutant_type','company_name','site_name','site_longitude','site_latitude']
  piece = frame[neededColumns]
  columnList = list(piece.columns)
  piece.columns = [c.replace(" ","")for c in columnList]
  piece = piece.sort_values(by=['total_emissions'],ascending=[False])
  valueCounts = piece['state'].value_counts().rename_axis('unique_values').reset_index(name="counts")
  valueCounts.columns = ["uniquevalues","counts"]
  valueCounts['counts'] = [int(v*0.1) for v in valueCounts['counts']]

  piece['state'] = piece['state'].fillna('None')
  spliceFrame=pd.DataFrame(columns=[n.replace(" ","") for n in neededColumns])


  for row in valueCounts.itertuples():
    spliceFrame = pd.concat([spliceFrame,piece[piece['state'].str.contains(row.uniquevalues)].head(int(row.counts))],axis=0)

  spliceFrame.columns = ['city','state','totalemissions','emissionsuom','pollutantcode','pollutantdesc','pollutanttypes','companyname','sitename','sitelongitude','sitelatitude']
  return spliceFrame

In [ ]:
secondPiece = processSecondPiece(secondFrame)

In [ ]:
secondPiece

,city,state,totalemissions,emissionsuom,pollutantcode,pollutantdesc,pollutanttypes,companyname,sitename,sitelongitude,sitelatitude
28266,CARSON,CA,6.987780e+06,TON,CO2,Carbon Dioxide,GHG,"TESORO REFINING & MARKETING CO, LLC","TESORO REFINING & MARKETING CO, LLC",-118.238300,33.809900
586810,RICHMOND,CA,5.050885e+06,TON,CO2,Carbon Dioxide,GHG,CHEVRON PRODUCTS COMPANY,CHEVRON PRODUCTS COMPANY,-122.396453,37.938779
28289,EL SEGUNDO,CA,3.996709e+06,TON,CO2,Carbon Dioxide,GHG,CHEVRON PRODUCTS CO.,CHEVRON PRODUCTS CO.,-118.408500,33.908200
586816,MARTINEZ,CA,3.667658e+06,TON,CO2,Carbon Dioxide,GHG,SHELL MARTINEZ REFINERY,SHELL MARTINEZ REFINERY,-122.115392,38.016594
586578,TORRANCE,CA,3.160520e+06,TON,CO2,Carbon Dioxide,GHG,EXXONMOBIL OIL CORPORATION,EXXONMOBIL OIL CORPORATION,-118.336907,33.854967
...,...,...,...,...,...,...,...,...,...,...,...
1427829,Piti,GU,6.352182e+05,TON,CO2,Carbon Dioxide,GHG,NaN,Cabras Power Plant,144.685800,13.464300
1427578,Piti,GU,2.231523e+03,LB,7440020,Nickel,HAP,NaN,Cabras Power Plant,144.685800,13.464300
1427554,Piti,GU,2.231523e+03,LB,7440020,Nickel,HAP,NaN,Cabras Power Plant,144.685800,13.464300
1427561,Piti,GU,6.951786e+02,LB,7647010,Hydrochloric Acid,HAP,NaN,Cabras Power Plant,144.685800,13.464300
1427585,Piti,GU,6.951786e+02,LB,7647010,Hydrochloric Acid,HAP,NaN,Cabras Power Plant,144.685800,13.464300

In [ ]:
thirdFrame = pd.read_csv('point_unknown.csv')

<ipython-input-15-1fb40c2c5167>:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  thirdFrame = pd.read_csv('point_unknown.csv')

In [ ]:
thirdFrame.columns

Index(['region', 'state', 'stfips', 'tribal_name', 'fips', 'county',
       'eis_facility_id', 'program_system_code', 'agency_facility_id',
       'tri_facility_id', 'company_name', 'site_name', 'naics_code',
       'naics_description', 'facility_source_type', 'site_latitude',
       'site_longitude', 'address', 'city', 'zip_code', 'postal_abbreviation',
       'eis_unit_id', 'agency_unit_id', 'unit_type', 'unit_description',
       'design_capacity', 'design_capacity_uom', 'eis_process_id',
       'agency_process_id', 'scc', 'reg_codes', 'reg_code_description',
       'process_description', 'reporting_period', 'emissions_operating_type',
       'calculation_parameter_value', 'calculation_parameter_uom',
       'calculation_material', 'calculation_parameter_type',
       'calc_data_source', 'calc_data_year', 'pollutant_code',
       'pollutant_desc', 'pollutant_type', 'total_emissions', 'emissions_uom',
       'emission_factor', 'ef_numerator_uom', 'ef_denominator_uom', 'ef_text',
       'calc_method_code', 'calculation_method', 'emission_comment',
       'source_data_set', 'data_tagged', 'data_set'],
      dtype='object')

In [ ]:
thirdPiece = processSecondPiece(thirdFrame)

In [ ]:
thirdPiece

,city,state,totalemissions,emissionsuom,pollutantcode,pollutantdesc,pollutanttypes,companyname,sitename,sitelongitude,sitelatitude
22691,Gulf of Mexico,DM,99427.310000,TON,CO2,Carbon Dioxide,GHG,NaN,Medco Energi US LLC (BOEM ID=02672 Platform=22...,-89.054670,29.301950
22684,Gulf of Mexico,DM,89403.940000,TON,CO2,Carbon Dioxide,GHG,NaN,Medco Energi US LLC (BOEM ID=02672 Platform=22...,-89.054670,29.301950
31201,Gulf of Mexico,DM,84689.100000,TON,CO2,Carbon Dioxide,GHG,NaN,BP Exploration & Production Inc. (BOEM ID=0248...,-90.026990,27.195460
81923,Gulf of Mexico,DM,84395.290000,TON,CO2,Carbon Dioxide,GHG,NaN,"LLOG Exploration Offshore, L.L.C. (BOEM ID=020...",-88.267316,28.754482
31174,Gulf of Mexico,DM,80890.530000,TON,CO2,Carbon Dioxide,GHG,NaN,BP Exploration & Production Inc. (BOEM ID=0248...,-90.026990,27.195460
...,...,...,...,...,...,...,...,...,...,...,...
106473,Gulf of Mexico,DM,5.909874,TON,VOC,Volatile Organic Compounds,CAP,NaN,"Energy Resource Technology, Inc (BOEM ID=02899...",-94.437650,28.013700
41825,Gulf of Mexico,DM,5.909026,TON,CH4,Methane,GHG,NaN,"Fieldwood Energy, LLC (BOEM ID=03295 Platform=...",-93.935100,27.913190
15088,Gulf of Mexico,DM,5.904982,TON,CO,Carbon Monoxide,CAP,NaN,"Talos Energy Offshore, LLC (BOEM ID=03247 Plat...",-91.025600,28.856300
72644,Gulf of Mexico,DM,5.899816,TON,CO2,Carbon Dioxide,GHG,NaN,"Fieldwood Energy, LLC (BOEM ID=03295 Platform=...",-90.901520,27.883100
76929,Gulf of Mexico,DM,5.899245,TON,CO2,Carbon Dioxide,GHG,NaN,"Petrobras Americas, Inc. (BOEM ID=01207 Platfo...",-90.508378,26.696179

Finally, we combine all three pieces below into a single CSV file.

In [ ]:
finalPiece = pd.concat([firstPiece,secondPiece,thirdPiece])

In [ ]:
finalPiece

,city,state,totalemissions,emissionsuom,pollutantcode,pollutantdesc,pollutanttypes,companyname,sitename,sitelongitude,sitelatitude
792380,Marissa,IL,1.205243e+07,TON,CO2,Carbon Dioxide,GHG,NaN,Prairie State Generating Station,-89.666973,38.279267
794415,Baldwin,IL,8.308289e+06,TON,CO2,Carbon Dioxide,GHG,"Dynegy Midwest Generation, Inc",Dynegy Midwest Generation LLC,-89.855919,38.204521
881629,Pekin,IL,6.559426e+06,TON,CO2,Carbon Dioxide,GHG,"Midwest Generation Eme, LLC",Midwest Generation LLC,-89.678600,40.540800
713361,Coffeen,IL,6.192524e+06,TON,CO2,Carbon Dioxide,GHG,Ameren Energy Generating Company,Illinois Power Generating Co,-89.403601,39.058400
987613,Kincaid,IL,5.221597e+06,TON,CO2,Carbon Dioxide,GHG,Kincaid Generation LLC,Kincaid Generation LLC,-89.496613,39.590599
...,...,...,...,...,...,...,...,...,...,...,...
106473,Gulf of Mexico,DM,5.909874e+00,TON,VOC,Volatile Organic Compounds,CAP,NaN,"Energy Resource Technology, Inc (BOEM ID=02899...",-94.437650,28.013700
41825,Gulf of Mexico,DM,5.909026e+00,TON,CH4,Methane,GHG,NaN,"Fieldwood Energy, LLC (BOEM ID=03295 Platform=...",-93.935100,27.913190
15088,Gulf of Mexico,DM,5.904982e+00,TON,CO,Carbon Monoxide,CAP,NaN,"Talos Energy Offshore, LLC (BOEM ID=03247 Plat...",-91.025600,28.856300
72644,Gulf of Mexico,DM,5.899816e+00,TON,CO2,Carbon Dioxide,GHG,NaN,"Fieldwood Energy, LLC (BOEM ID=03295 Platform=...",-90.901520,27.883100
76929,Gulf of Mexico,DM,5.899245e+00,TON,CO2,Carbon Dioxide,GHG,NaN,"Petrobras Americas, Inc. (BOEM ID=01207 Platfo...",-90.508378,26.696179

In [ ]:
import numpy as np

Looks daunting, but is actually fairly simple:

- Grabbing all company names, coordinates, emissions, and storing them as a JSON file, mapped by city and state.
- Filtering them by site names. All site names are unique and do not have double entries.

In [ ]:
def siteRestructuring(finalFrame):
  finalDictionary = {}
  for row in finalFrame.itertuples():
    emissionFactor = 2000 if row.emissionsuom == 'TON' else 1
    potentialKey = str(row.sitename)
    if potentialKey in finalDictionary.keys():
      dictionaryEntry = finalDictionary[potentialKey]
      dictionaryEntry['totalemissions']+=(row.totalemissions*emissionFactor)
      if(row.totalemissions>dictionaryEntry['largestemission']):
        dictionaryEntry['pollutanttype']=row.pollutanttypes
        dictionaryEntry['pollutantdesc']=row.pollutantdesc
        dictionaryEntry['largestemission']=row.totalemissions
    else:
      city = row.city
      state = row.state
      latitude = row.sitelatitude
      longitude = row.sitelongitude
      pollutantdesc=row.pollutantdesc
      pollutanttype=row.pollutanttypes
      totalemissions = row.totalemissions*emissionFactor
      finalDictionary[potentialKey] ={
          "city":city,
          "state":state,
          "latitude":latitude,
          "longitude":longitude,
          "pollutantdesc":pollutantdesc,
          "largestemission":totalemissions,
          "pollutanttype":pollutanttype,
          "totalemissions":totalemissions
      }
  return finalDictionary

In [ ]:
siteDictionary = siteRestructuring(finalPiece)

In [ ]:
print(siteDictionary)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
import json


with open("siteServerTable.json","w") as out:
  out.write(json.dumps(siteDictionary))